
.img-logo-escrito:hover {
    cursor: pointer;
}

.h1-body-title {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 2rem;
    width: 100%;
    padding-top: 3rem;
} 

.p-body-text {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.5rem;
    width: 90%;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
    text-align: justify;
}

.p-link-body {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 500;
    position: relative;
    float: left;
    margin-left: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.b-body-text-link {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}