
header {
    width: 100%;
    height: 6rem;
}

.h1-header-alert {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.5rem;
}

.h2-header-alert {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 0.8rem;
}

.img-logo-escrito {
    width: 12.8rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.h1-header-option {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.8rem;
    float: right;
    padding-top: 1.8rem;
    padding-right: 2rem;
    cursor: pointer;
}

.h1-header-option:hover {
    color: #7037CD;
}

.section-01 {
    background: rgb(18,18,18);
    background-image: linear-gradient(to bottom, transparent 0%, #121212 30%), url('../public/img/space_wallpaper.png');
    background-repeat: no-repeat;
}

.img-cubesat-central {
    width: 35rem;
    height: 35rem;
}

.h1-body-title {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 2rem;
    width: 100%;
}

.h2-body-desc {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 0.9rem;
}

.bottom-arrow-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 3rem;
    cursor: pointer;
}

.bottom-arrow-icon:active {
    background-color: #7037CD;
    background-size: 100%;
    border-radius: 100%;
}

.div-icons-cubesat {
    width: 100% !important;
    padding-bottom: 5rem;
}

.icon-cubesat-desc {
    height: 5rem;
    width: 5rem;
    float: left;
    margin-left: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.div-desc-cubesat {
    width: 30rem;
    display: block;
    margin: 0 auto 0 auto;
}

.h1-subsistem-title {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 2rem;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 1rem;
}

.p-subsistem-desc {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1rem;
    padding-top: 1rem;
    display: flex;
    text-align: justify;
    display: block;
    margin: 0 auto 0 auto;
}

.div-body-desc {
    width: 100%;
}

.img-body-desc {
    width: 18rem;
    height: 18rem;
    float: left;
}

.p-body-desc {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 2rem;
    text-align: justify;
    padding-right: 2rem;
    padding-left: 3rem;
}

.div-body-desc-links {
    display: flexbox;
    height: 6rem;
    width: 100%;
}

.p-body-desc-link {
    font-family: 'Space Mono', spacemono;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: 18rem;
    margin-top: 1.5rem;
    cursor: pointer;
    text-align: justify;
}

.img-sollarium-section-04 {
    width: 23rem;
    height: 23rem;
    float: left;
}